Repository cookiejar/cookietemple: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

new noxfile syntax
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.pre-commit-config.yaml
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix black
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
Due: pyupgrade

pyupgrade
  .pre-commit-config.yaml
  cookietemple/__main__.py
  cookietemple/create/template_creator.py
  cookietemple/create/templates/web/website_python/flask/{{ cookiecutter.project_slug_no_hyphen }}/{{ cookiecutter.project_slug_no_hyphen }}/basic/routes.py
  cookietemple/create/templates/web/website_python/flask/{{ cookiecutter.project_slug_no_hyphen }}/{{ cookiecutter.project_slug_no_hyphen }}/main/routes.py
  cookietemple/custom_cli/click.py
  cookietemple/lint/template_linter.py
  docs/conf.py
  tests/bump_version/test_bump_version.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

nox
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
  cookietemple/lint/template_linter.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

nox
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
Due: pyupgrade

Feature/pyupgrade (#880)
  .cookietemple.yml
  .github/release-drafter.yml
  .pre-commit-config.yaml
  cookietemple.cfg
  cookietemple/__init__.py
  cookietemple/__main__.py
  cookietemple/create/template_creator.py
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.pre-commit-config.yaml
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/poetry.lock
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
  cookietemple/create/templates/web/website_python/flask/{{ cookiecutter.project_slug_no_hyphen }}/{{ cookiecutter.project_slug_no_hyphen }}/basic/routes.py
  cookietemple/create/templates/web/website_python/flask/{{ cookiecutter.project_slug_no_hyphen }}/{{ cookiecutter.project_slug_no_hyphen }}/main/routes.py
  cookietemple/custom_cli/click.py
  cookietemple/lint/template_linter.py
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/bump_version/test_bump_version.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix version
  .github/release-drafter.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

fix darglint documentation
  docs/available_templates/cli_python.rst
Due: none

pynacl update
  cookietemple/create/github_support.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add contributors guide doc instructions
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/docs/contributing.rst
Due: none

[FIX]#838 Lint with missing Dockerfile
  cookietemple/lint/template_linter.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

[FEATURE]#525 Set cookietemple topic
  cookietemple/config/config.py
  cookietemple/create/github_support.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update Wfs + docs
  .github/workflows/create_cli_java.yml
  .github/workflows/create_cli_python.yml
  .github/workflows/create_gui_java.yml
  .github/workflows/create_lib_cpp.yml
  .github/workflows/create_pub_thesis_latex.yml
  .github/workflows/create_web_python_flask.yml
  docs/config.rst
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Improved question
  cookietemple/config/config.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Feature/ct topic (#882)
  .github/workflows/create_cli_java.yml
  .github/workflows/create_cli_python.yml
  .github/workflows/create_gui_java.yml
  .github/workflows/create_lib_cpp.yml
  .github/workflows/create_pub_thesis_latex.yml
  .github/workflows/create_web_python_flask.yml
  cookietemple/config/config.py
  cookietemple/create/github_support.py
  docs/config.rst
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

[FIX]#838 Lint with missing Dockerfile (#881)
  cookietemple/lint/template_linter.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

[FEATURE]#590 Choose valid version
  cookietemple/__main__.py
  cookietemple/bump_version/bump_version.py
  cookietemple/custom_cli/click.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Updated docs
  docs/bump_version.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

[#698] Update README GIFs
  README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

[#698] Update README GIFs (#886)
  README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

[FEATURE] #823: Create commit tag for bump version (opt-in)
  cookietemple/__main__.py
  cookietemple/bump_version/bump_version.py
  docs/bump_version.rst
  tests/bump_version/test_bump_version.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

[FEATURE] #823: Create commit tag for bump version (opt-in) (#887)
  cookietemple/__main__.py
  cookietemple/bump_version/bump_version.py
  docs/bump_version.rst
  tests/bump_version/test_bump_version.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

setup python WF version to 3
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.github/workflows/publish_package.yml
Due: none

setup python WF version to 3
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.github/workflows/build_package.yml
Due: none

setup python WF version to 3
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/.github/workflows/run_cookietemple_lint.yml
Due: none

setup python WF version to 3
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/.github/workflows/sync_project.yml
Due: none

Updated docs #892 and fix #897
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
  docs/available_templates/available_templates.rst
  docs/contributing.rst
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

PR feedback
  docs/available_templates/available_templates.rst
Due: none

Updated cli-python template version
  cookietemple/create/templates/available_templates.yml
Due: none

cookietemple sync
  .cookietemple.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  .github/workflows/release_drafter.yml
  .github/workflows/run_cookietemple_lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
  .pre-commit-config.yaml
  AUTHORS.rst
  LICENSE
  README.rst
  cookietemple.cfg
  cookietemple/__init__.py
  cookietemple/__main__.py
  cookietemple/py.typed
  docs/_static/custom_cookietemple.css
  docs/authors.rst
  docs/conf.py
  docs/contributing.rst
  docs/index.rst
  docs/requirements.txt
  makefiles/Linux.mk
  makefiles/Windows.mk
  mypy.ini
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix version
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.github/workflows/publish_package.yml
Due: none

Bump version from 1.4.0 to 1.4.1
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cookietemple/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

upgrade WF versions
  cookietemple/create/templates/available_templates.yml
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.github/workflows/build_package.yml
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.github/workflows/run_tests.yml
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

deploy: 462ccf63bef17d9fdeb3884f2e94a88ba5703e13
  .buildinfo
  _static/documentation_options.js
  adding_new_templates.html
  available_templates/available_templates.html
  available_templates/cli_java.html
  available_templates/cli_python.html
  available_templates/gui_java.html
  available_templates/lib_cpp.html
  available_templates/pub_thesis_latex.html
  available_templates/web_website_python.html
  bump_version.html
  code_of_conduct.html
  community.html
  config.html
  contributing.html
  create.html
  faq.html
  genindex.html
  github_support.html
  index.html
  installation.html
  lint.html
  list_info.html
  objects.inv
  readme.html
  search.html
  sync.html
  troubleshooting.html
  upgrade.html
  usage.html
  warp.html
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Bump version from 1.4.1 to 1.4.2
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cookietemple/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add python 3.10 support
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$, but not: templates
  check-added-large-files: any file but: templates
  check-toml: any of: \.toml$, but not: templates
  check-yaml: any of: \.(yaml|yml)$, but not: templates
  end-of-file-fixer: any file but: templates
  flake8: any of: \.py$, but not: templates
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: templates
