Repository cookiejar/cookietemple: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
            exclude: templates
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            exclude: templates
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
            exclude: templates
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
            exclude: templates
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: templates
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
            exclude: templates
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [ python ]
            args: [ --py38-plus ]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: templates
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.3.0
      hooks:
          - id: prettier
            exclude: templates
    - repo: https://github.com/pycqa/isort
      rev: 5.8.0
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]

add furo to CT
  docs/_static/custom_cookietemple.css
  docs/available_templates/available_templates.rst
  docs/available_templates/cli_python.rst
  docs/available_templates/web_website_python.rst
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add furo to templates
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/poetry.lock
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/_static/custom_cookietemple.css
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/conf.py
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/requirements.txt
Due: pyupgrade

possible fix for missing static path
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/conf.py
Due: pyupgrade

fix cli-python nox build
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
Due: pyupgrade

fix CT nox
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add furo to CT (#911)
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/poetry.lock
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/_static/custom_cookietemple.css
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/conf.py
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/docs/requirements.txt
  docs/_static/custom_cookietemple.css
  docs/available_templates/available_templates.rst
  docs/available_templates/cli_python.rst
  docs/available_templates/web_website_python.rst
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix CI
  cookietemple/create/domains/cli_creator.py
  cookietemple/create/domains/lib_creator.py
  cookietemple/create/domains/web_creator.py
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix CI - rm black
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
Due: none

Fixed poetry.lock for python templates
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/poetry.lock
Due: none

Fixed noxfile python version selection
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/noxfile.py
Due: pyupgrade

Poetry lock & darglint removal
  .darglint
  codecov.yml
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.darglint
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/codecov.yml
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/pyproject.toml
  cookietemple/create/templates/common_files/{{cookiecutter.commonName}}/.github/workflows/publish_docs.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix isort for template
  cookietemple/create/templates/cli/cli_python/{{ cookiecutter.project_slug_no_hyphen }}/.pre-commit-config.yaml
Due: none

fix isort ct
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix typos
  cookietemple/__main__.py
  cookietemple/bump_version/bump_version.py
  cookietemple/create/github_support.py
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/CMakeLists.txt
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/CompilerWarnings.cmake
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/Conan.cmake
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/Utils.cmake
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/Vcpkg.cmake
  cookietemple/info/info.py
  cookietemple/lint/template_linter.py
  cookietemple/sync/sync.py
  cookietemple/warp/warp.py
  docs/adding_new_templates.rst
  docs/available_templates/web_website_python.rst
  docs/bump_version.rst
  docs/create.rst
  docs/github_support.rst
  docs/installation.rst
  docs/lint.rst
  tests/info/test_info_command.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix typos (#1087)
  cookietemple/__main__.py
  cookietemple/bump_version/bump_version.py
  cookietemple/create/github_support.py
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/CMakeLists.txt
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/CompilerWarnings.cmake
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/Conan.cmake
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/Utils.cmake
  cookietemple/create/templates/lib/lib_cpp/{{ cookiecutter.project_slug }}/cmake/Vcpkg.cmake
  cookietemple/info/info.py
  cookietemple/lint/template_linter.py
  cookietemple/sync/sync.py
  cookietemple/warp/warp.py
  docs/adding_new_templates.rst
  docs/available_templates/web_website_python.rst
  docs/bump_version.rst
  docs/create.rst
  docs/github_support.rst
  docs/installation.rst
  docs/lint.rst
  tests/info/test_info_command.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
